<nav id="header" class="fixed-top navbar navbar-expand-lg navbar-light d-flex align-items-center p-4">
  <a class="logo me-auto" [routerLink]="['/home']">
    <h1>ScootEase</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="true" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div  class="navbar-collapse collapse show" id="navbarsExample05" [ngClass]="{'show': isCollapsed}">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="/home#hero">Home</a>
      </li>
      <li class="nav-item">
        <a href="/home#aboutus" class="nav-link scrollto">About us</a>
      </li>
      <li class="nav-item">
        <a href="/home#ourscooters" class="nav-link scrollto">Our scooters</a>
      </li>
      <li class="nav-item">
        <a href="/home#whyscoot" class="nav-link scrollto">Why ScootEase</a>
      </li>
      <li class="nav-item">
        <a href="/home#downloadapp" class="nav-link scrollto">App</a>
      </li>
      <li>
        <div class="dropdown">
          <a class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
          <ul class="dropdown-menu">
            <li *ngIf="!( isLoggedIn$| async)">
              <button [routerLink]="['/register']" class="dropdown-item" type="button">Sign Up</button>
            </li>
            <li *ngIf="!( isLoggedIn$| async)">
              <button [routerLink]="['/login']" lass="dropdown-item" type="button">Sign In</button>
            </li>
            <li *ngIf="( isLoggedIn$| async)">
              <button [routerLink]="['/book']" class="dropdown-item" type="button">Book</button>
            </li>
            <li *ngIf="( isLoggedIn$| async)">
              <button [routerLink]="['/home']" (click)="logout()" class="dropdown-item" type="button">Log Out</button>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/home#downloadapp" class="get-started-btn">Download App</a>
      </li>
    </ul>
  </div>
</nav>
