.h3{
  justify-content: center;
  font-size:small
}

.search-button{
  margin-left: 22px;
  background: #5fcf81e5;
  color: #fff;
  border-radius: 50px;
  border: 1px solid white;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
}

.second-img{
  height: 200px;
}

.titleScooter{
  text-align: center;
}

.div-button{
  margin-top: 2rem;
  margin-left: 3rem;
}

.div-button-reserve{
  margin-top: 140px;
}

.section{
    padding-top: 20px;
  }

.trainers{
  margin-top: 150px;
  margin-bottom: 50px;
}

.trainers .member {
  border-radius: 30px;
  background-color: #3ac162;
  &.background-red{
    background-color: rgba(252, 118, 118, 0.762);
  }
}

.trainers .member img {
  height: 230px;
  &.first-img{
    margin-bottom: 0;
  }
}

.trainers .member .member-content {
  padding: 20px 20px 20px 20px;
}

.trainers .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-style: italic;
}

.trainers .member span {
  display: block;
  font-size: 13px;
}

.trainers .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.trainers .member .social {
  margin-top: 15px;
}

.trainers .member .social a {
  color: #7e9486;
  transition: 0.3s;
}

.trainers .member .social a:hover {
  color: #5fcf80;
}

.trainers .member .social i {
  font-size: 18px;
  margin: 0 2px;
}



.img-fluid{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.datepicker{
  color:rgb(0, 0, 0);
  background-color: #3ac163c8;
}

.section-title {
  padding-bottom: 40px;
  color: #3ac162;
}

.section-title h2 {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #3ac162;;
}

.scooter{
  justify-content :center;
  align-items: center;
}

.book{
  font-weight: bold;
}



@media(max-width: 991.98px){
  .book{
    margin-bottom:2rem;
  }
  .book-scooter{
    justify-content: space-around;
    margin:10px;
  }
}

@media(max-width: 767px){
  .column-first-img{
    text-align: center;
  }
  .div-caracter{
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
  }
  .div-button-reserve{
    margin-top:1rem;
    text-align: center;
  }
}

.list-scooter{
  list-style-type: none;
  margin-top: 30px;
  text-align: center;
}

@media(max-width: 768px){
.list-scooter{
  flex-direction: column;
  align-items: center;
  margin-bottom: 1px;
  margin-top:0;
  text-align:start;
  }
}

.list-scooter li{
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.section-date h3{
  font-size: 20px;
}

.reservation{
  margin-bottom:30px;
}

@media(max-width: 991.98px) {
  .section-date{
    text-align: center;
  }
  .div-button{
    margin-left: 0;
    margin-right:1rem;
    margin-bottom: 5rem;
  }
}

.column-second-img{
  text-align:center;
}

.div-list{
  margin-top: 50px;
}

@media(max-width:991.98px){
  .div-button-delete{
   margin-top:0;
   text-align: end;
   padding-right: 3rem;

  }
}

@media(max-width:767px){
  .list-scooter{
    padding-left:0;
  }
  .div-list{
    margin-top:0;
  }
  .div-button-delete{
    text-align:center;
    margin-top: 1rem;
  }
}