<section id="whyscoot" class="trainers">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why ScootEase</h2>
    </div>

    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../../assets/img/Segway Ninebot MAX Electric Kick Scooter,Max Speed18_6MPH,Long-range Battery, Foldable and Portable.jpeg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Safety</h4>
            <p>Our highest priority, first and always.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../../assets/img/EU Warehouse 350W Xiaomi Folding Adult Electric Scooter with APP.jpeg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Sustainability</h4>
            <p>Commitment to carbon-free</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../../assets/img/Lime And UCSD Students Use Micromobility To Design Public Transit….jpeg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Community</h4>
            <p>Mobility for all</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../../assets/img/iF Design - CityBug XC2.jpeg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Innovation</h4>
            <p>Building the future of transportation</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
