#whyscoot{
  padding-top: 3rem;
}
.trainers .member {
    margin-bottom: 20px;
    background: #fff;
  }
  
  .trainers .member img {
    margin: -1px -1px 10px -1px;
  }
  
  .trainers .member .member-content {
    padding: 10px 10px 20px 10px;
  }
  
  .trainers .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  .trainers .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  .trainers .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
  }
  
  .trainers .member .social {
    margin-top: 15px;
  }
  
  .trainers .member .social a {
    color: #7e9486;
    transition: 0.3s;
  }
  
  .trainers .member .social a:hover {
    color: #5fcf80;
  }
  
  .trainers .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  .section-title {
    padding-bottom: 40px;
    color: #3ac162;
  }
  
  .section-title h2 {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #3ac162;;
  }

  .img-fluid{
    width: 800px;
    border-radius: 20px;
    height: 350px;
  }