<section id="downloadapp" class="trainers">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Download App</h2>
    </div>

    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-4 col-md-6 align-items-stretch">
        <div class="member">
          <img src="../../../assets/img/Geofencing vs Geotargeting - What Your Business Should Use - Growth Hackers.jpeg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Locate</h4>
            <p>Download the Lime app to find a vehicle.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../../assets/img/lime-scooter-qr-code.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Scan</h4>
            <p>Scan the QR code on the vehicle to unlock. Learn how to ride safely in the app.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="../../../assets/img/Se hai un monopattino, dall’assicurazione al casco obbligatorio ecco cosa cambierà tra pochi giorni.jpeg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Ride</h4>
            <p>Follow all traffic rules, stick to the streets and bike lanes where legally permitted.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>